
<html>
	<head>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h1 align ="center">Welcome to BitCoin Simulator</h1>
					<p align ="center">A simulation of ongoing BitCoin transactions</p>
				</div>
			</div>
		</div>
	</body>
</html>